@page "/"

<div class="col">
    <div class="row">
        <AddRefuelEntryComponent />
    </div>
    <div class="row">
        <AddServiceEntryComponent />
    </div>
    <div class="row">
        <AddCarComponent />
    </div>
    <div class="row">
        <ImportCsvComponent />
    </div>
</div>