@page "/"
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="col">
    <AddEntryComponent />
    <ImportCsvComponent />
</div>

@code {
    [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        if (!authState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("api/authentication/signin?redirectUri=/", true);
        }
    }
}
