.loading-center {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}

.no-gap {
    margin: 0;
    padding: 0;
}

.card-button {
    border-radius: 0;
    padding: 12px;
    padding-left: 18px;
}

button.no-focus:focus {
    outline: none;
    box-shadow: none;
}
