<div class="card w-100">
    <div class="card-header">
        Add new Car
    </div>
    <div class="card-body">
        <EditForm Model=@Car OnValidSubmit=@FormSubmitted>
            <FluentValidationValidator ValidatorType=typeof(CarValidator) />

            <div class="form-group">
                <label for="formGroupLicense">License Plate</label>
                <InputText @bind-Value=Car.LicensePlate class="form-control" id="formGroupLicense" placeholder="License Plate" />
                <ValidationMessage For="() => Car.LicensePlate" />
            </div>
            <div class="form-group">
                <label for="formGroupFuel">Fuel Type</label>
                <InputSelect @bind-Value=Car.FuelType class="form-control" id="formGroupFuel">
                    @foreach (FuelType fuelType in Enum.GetValues(typeof(FuelType)))
                    {
                        <option value="@fuelType">@fuelType.ToString()</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Car.FuelType" />
            </div>
            <div class="form-group">
                <label for="formGroupDescription">Description</label>
                <InputText @bind-Value=Car.Description class="form-control" id="formGroupDescription" placeholder="Description" />
                <ValidationMessage For="() => Car.Description" />
            </div>
            <div class="form-group">
                <label for="formGroupInitialDistance">Initial Distance</label>
                <InputNumber @bind-Value=Car.InitialDistance class="form-control" id="formGroupInitialDistance" placeholder="Initial Distance" min="0" />
                <ValidationMessage For="() => Car.InitialDistance" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
    </div>
</div>