@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @if (State.Cars != null)
        {
            @Body
        } 
        else
        {
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" />
            </div>
        }
    </div>
</div>