@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        <AuthorizeView>
            <Authorized>
                <CascadingValue Value="this" Name="ErrorComponent">
                    @Body
                </CascadingValue>

                <Snackbar @ref="errorSnackbar" Multiline="true" Interval="5000">
                    <SnackbarBody>
                        @errorMessage
                    </SnackbarBody>
                    <SnackbarAction Clicked="@StackTraceToClipboard">Copy Stack Trace</SnackbarAction>
                </Snackbar>
            </Authorized>
            <NotAuthorized>
                <div>
                    <h1>Welcome to KM Log!</h1>
                    <p>Please sign in to continue.</p>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>